# fly.toml app configuration file
# App: wa-struk-bot

app = 'wa-struk-bot'
primary_region = 'sin'

[build]

[[mounts]]
  source = 'wa_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
